@font-face{
    font-family: 'WorkSans';
    src: url(assets/fonts/static/WorkSans-Regular.ttf);
}

@font-face{
    font-family: 'WorkSans';
    src: url(assets/fonts/static/WorkSans-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: 'WorkSans';
    src: url(assets/fonts/static/WorkSans-SemiBold.ttf);
    font-weight: 600;
}